* { box-sizing: border-box; }

body {
  margin:0; padding: 1rem;
  background-color: grey;
  overflow: visible;
  display: grid;
  align-items: center;
  justify-content:center;
  font-family: sans-serif;
}

h1 {
  color: white;
  text-shadpw: 0.2rem 0.2rem black;
}

over-scroll { width: 50vw; margin: 1rem; }
pop-out { margin-bottom: 1rem; }
pop-out img { height: 200px; width: auto; }
pop-out ul { padding: 0.75rem; }

@media screen and (orientation:portrait) {
  over-scroll { width: calc(100vw - 2rem); }
}

over-scroll[vertical] { width: auto; height: 80vh; }
over-scroll[vertical] pop-out { margin-bottom: 0; margin-right: 1rem; }
over-scroll[vertical] pop-out img { height: auto; width: 200px; }

.test-a {
  width: 200px;
  background: orange;
  display: flex;
  justify-content: center;
  align-content: stretch;
}

.test-b {
  padding: 1rem;
  background: yellowgreen;
}

.test-d {
  text-align: center;
  font-weight: bold;
}

p.info {
  width: 200px; margin:0; padding: 1rem; border: 0; border-radius: 0.5rem;
  background: linear-gradient(45deg, dodgerblue, skyblue, transparent);
}
